<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bigsoftware.filadeespera">

    <activity android:name=".MainActivity" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/appPerson">
        <activity android:name=".MenuActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Medico.ListaMedicoActivity"
            android:label="@string/title_activity_lista_medico"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/appPerson.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bigsoftware.filadeespera.MenuActivity" />
        </activity>
        <activity android:name=".Medico.ItemMedicoActivity" />
        <activity android:name=".Medico.CadastroMedicoActivity" />
        <activity
            android:name=".Paciente.ListaPacienteActivity"
            android:label="@string/title_activity_lista_paciente"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/appPerson.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bigsoftware.filadeespera.MenuActivity" />
        </activity>
        <activity android:name=".Paciente.ItemPacienteActivity" />
        <activity android:name=".Paciente.CadastroPacienteActivity" />
        <activity
            android:name=".Fila.ListaFilaActivity"
            android:label="@string/title_activity_lista_fila"
            android:parentActivityName=".MenuActivity"
            android:theme="@style/appPerson.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bigsoftware.filadeespera.MenuActivity" />
        </activity>
    </application>

</manifest>